.dropdown-container {
    display: flex;
    gap: 0.2rem;
    align-items: center;

    img {
        inline-size: 2rem;
        block-size: 2rem;
    }

    .select {
        padding: var(--padding-small);

        border-radius: var(--border-radius-small);

        font-size: var(--font-size-paragraph);

        .option {
            border-radius: var(--border-radius-small);

            font-size: var(--font-size-med-paragraph);
        }
    }
}
