.no-contact-container {
    display: flex;
    align-items: center;
    justify-content: center;

    inline-size: 50rem;
    min-block-size: 40rem;

    border-radius: 2rem;
    box-shadow: 0 0 0.5rem 0 var(--color-gray-40);
    background-color: var(--color--default-background);

    p {
        color: var(--color--primary);
        cursor: pointer;

        &:hover {
            color: var(--color--secondary);
        }
    }
}

.contacts-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    inline-size: 50rem;
    min-block-size: 40rem;

    border-radius: 2rem;
    padding: var(--padding-medium) 0;
    box-shadow: 0 0 0.5rem 0 var(--color-gray-40);

    background-color: var(--color--default-background);

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        inline-size: 90%;
        cursor: pointer;

        .img {
            inline-size: 5rem;
            block-size: 5rem;

            border-radius: 50%;

            grid-row: 1/-3;
        }

        h5 {
            font-size: var(--font-size-tertiary-heading);
        }

        p {
            font-size: var(--font-size-med-paragraph);
        }
    }
}
