.no-contact-container {
    display: flex;
    align-items: center;
    justify-content: center;

    inline-size: 50rem;
    min-block-size: 40rem;

    border-radius: 2rem;
    box-shadow: 0 0 0.5rem 0 var(--color-gray-40);
    background-color: var(--color--default-background);

    p {
        color: var(--color--primary);
        cursor: pointer;

        &:hover {
            color: var(--color--secondary);
        }
    }
}

.contacts-container {
    display: flex;
    align-items: center;
    justify-content: center;

    inline-size: 50rem;
    min-block-size: 40rem;

    border-radius: 2rem;
    box-shadow: 0 0 0.5rem 0 var(--color-gray-40);
    background-color: var(--color--default-background);
}
